.content-main-2 {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 1em;
}

.product-item-list {
    background-color: white;
    border-top: 1px solid #0064c8;
    margin-top: 5px;
}

.select-search {
    display: inline-block;
    width: 20%;
    height:auto;
    margin: 1em;
    border: 1px solid #0064c8;
    background: #f1f1f1;
    vertical-align: top;
    padding: 1em;
}

.search, .seach-price{
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 1em;
    background-color: white;
     -webkit-box-shadow: 5px 5px 10px 2px;
    -ms-box-shadow: 5px 5px 10px 2px;
    box-shadow: 2px 5px 10px 2px;
}
.title-search{
    display: block;
    width: 100%;
    background-color: rgb(16, 92, 150);
    color: white;
    font-family: "Roboto Condensed";
    font-size: 1.2em;
    padding:0.5em 1em;
}
.content-search{
    padding: 1em;
}
.product-2 {
    display: inline-block;
    width: 75%;
    height: auto;
    background-color: #f1f1f1;
    vertical-align: top;
    margin: 1em 0;
    padding: 1.5em;
    border: 1px solid #0064c8;
    border: 1px solid rgba(0,100,200, 0.6);
}

.product-item {
    display: block;
    width: 100%;
    height: auto;
    background-color: white;
    border: 1px solid #0064c8;
    border: 1px solid rgba(0,100,200, 0.6);
    -webkit-box-shadow: 5px 5px 10px 2px;
    -ms-box-shadow: 5px 5px 10px 2px;
    box-shadow: 5px 5px 10px 2px;
    margin-bottom: 2em;
}

.img-product-2{
    display: inline-block;
    vertical-align: top;
    width: 15em;
    height: 15em;
    margin: 1em;
    padding: 1em;
}
.img-product-2 img{
    height: 100%;
    width: 100%;
}
.description{
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin: 1em 0;
    font-family: "Roboto Condensed";
}
.description h4{
    font-weight: bold;
    color:  rgb(16, 92, 150);
    outline: none;
}
.product-price{
    display: inline-block;
    vertical-align: top;
    width: 22%;
    margin: 1em 0;
    font-family: "Roboto Condensed";
    
}
.product-price h4{
    font-weight: bold;
}
.product-price table {
    display: inline-block;
    color: rgb(16, 92, 150);
    font-weight: bold;
    padding-right: 1em;
    border: 1px solid #0064c8;
    border: 1px solid rgba(0, 100, 200,0.6);
    -ms-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    margin-left: 8px;
}

.product-price table .product-price-first{
    font-size: 3em;
    padding: 0;
    padding-left:0.5em;
}
.product-price table .product-price-title {
    font-size: 1.1em;
    vertical-align: bottom;
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px);
    padding-left: 0.2em;
}

.product-price-000 {
    font-size: 1.6em;
    vertical-align: top;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
}

.product-price button{
    display: inline-block;
    width: 100%;
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 0.5em 0;
}