
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<h2>Index</h2>

<script>
    $(window).bind("load", function() {
        var item = document.getElementById("home");
        item.style.borderLeft = "7px solid #2A9FD6";
    });
</script>